<launch>
  <arg name="ns" default="/"/>

  <arg name="urdf_path" default="$(find gvr_bot_rplidar_hector_map_generated_urdf_2019_5_10t16_55_19)/urdf/gvr_bot_rplidar_hector_map.urdf"/>

  <!-- Load the URDF model only the parameter server -->
  <param name="robot_description" textfile="$(arg urdf_path)"/>
</launch>
